on: 
  workflow_call:
    inputs:
      bookname:
        description: 'Filename of the book to be built (e.g. mybook)'
        required: true
        type: string
        
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Prepare Pillar
        run: |
          git clone https://github.com/pillar-markup/pillar.git -b v8.2.7
          export PATH="$HOME/texlive/bin/x86_64-linux:$PWD/build:$PATH"
          ./pillar/scripts/ci/install-texlive
          ./_support/latex/ensure-deps.sh
          ./pillar/scripts/build.sh
          mkdir artifacts
          
      - name: Build PDF
        run: |
          export PATH="$HOME/texlive/bin/x86_64-linux:$PWD/build:$PATH"
          export FILE=$(ls 2>/dev/null | grep -i index.*) #For now there is a bug in pillar with microdown and we need to specify the file
          pillar build pdf $FILE
          mv _result/pdf/index.pdf artifacts/${{ inputs.bookname }}.pdf

      - name: Build HTML
        run: |
          export PATH="$HOME/texlive/bin/x86_64-linux:$PWD/build:$PATH"
          pillar build html
          ls -R _result/
        # TODO: move html files to archive to artifacts folder

      - name: Continuous Release
        if: ${{ github.event_name == 'push' }}
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            artifacts/*.pdf
          # TODO: add html files
